/* ===== Paleta de cores =====
Azul:         #1f4fd8
Verde:        #2da44e
Cinza:        #333333
Fundo:        #f9f9f9
DarkOrange: 	#ff8c00
============================ */

/* ===== Configuração geral ===== */
body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  line-height: 1.6;
  color: #333333;
  background-color: #f9f9f9;
}

/* ===== Cabeçalho ===== */
header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  margin: 10px 0;
  font-size: 2.4em;
  /*color: #1	#f4fd8;*/
  color: 	#ff8c00
}

/* ===== Logotipo ===== */
.logo {
  max-width: 160px;
  height: auto;
  display: block;
  margin: 0 auto 15px auto;
}

/* ===== Navegação ===== */
nav {
  text-align: center;
  margin-bottom: 40px;
}

nav a {
  margin: 0 12px;
  text-decoration: none;
  color: #1f4fd8;
  font-weight: bold;
}

nav a:hover {
  color: #2da44e;
}

/* ===== Seções ===== */
section {
  margin-bottom: 45px;
}

section h2 {
  /*color: #2da44e;*/
  color: #ff8c00;
}

/* ===== Rodapé ===== */
footer {
  text-align: center;
  font-size: 0.9em;
  color: #666666;
  margin-top: 60px;
}

/* ===== Responsividade ===== */
@media (max-width: 768px) {

  body {
    padding: 15px;
  }

  header h1 {
    font-size: 2em;
  }

  nav a {
    display: block;
    margin: 10px 0;
  }

  .logo {
    max-width: 120px;
  }

  section {
    margin-bottom: 35px;
  }
}

.instagram-link {
  color: #E1306C;
  font-weight: bold;
  text-decoration: none;
}

.instagram-link:hover {
  text-decoration: underline;
}
